<footer>

	<div class="content-padding">

		<div class="footer-content">
			<p>Copyright &copy; 2017 Carlo P. Las Marias <a href="mailto:carlol@gmail.com">carlol@gmail.com</a></p>
		</div>

	</div>

</footer>