<!DOCTYPE HTML>

<HTML>

<HEAD>
	<% include partials/head.ejs %>
	<% include partials/scripts.ejs %>
</HEAD>

<BODY>

	<h1>jQuery Examples</h1>

	<p>Basic examples of jQuery</p>

	<div class="examples">

		<h2>Buttons and Mouseover Examples</h2>
		<p>Select and click the boxes</p>

		<div class="box" id="blue"></div>
		<div class="box" id="light-blue"></div>
		<div class="box" id="gray"></div>
		<div class="box" id="light-gray"></div>

	</div>

	<div class="examples">

		<h2>Keydown Example</h2>
		<p>Use the keyboard arrow keys to move Mario around the board</p>

		<div class="link">
			<a href="/keydown">Keydown Example</a>
		</div>

	</div>

	<div class="examples">

		<h2>Accordion Example (jQuery UI)</h2>

		<p>Click on categories to expand</p>

		<div id="accordion-menu">

			<h3>Category 1</h3>
			<div>
				<p>Item 1</p>
				<p>Item 2</p>
				<p>Item 3</p>
				<p>Item 4</p>
				<p>Item 5</p>
			</div>

			<h3>Category 2</h3>
			<div>
				<p>Item 1</p>
				<p>Item 2</p>
				<p>Item 3</p>
				<p>Item 4</p>
				<p>Item 5</p>
			</div>

			<h3>Category 3</h3>
			<div>
				<p>Item 1</p>
				<p>Item 2</p>
				<p>Item 3</p>
				<p>Item 4</p>
				<p>Item 5</p>
			</div>

			<h3>Category 4</h3>
			<div>
				<p>Item 1</p>
				<p>Item 2</p>
				<p>Item 3</p>
				<p>Item 4</p>
				<p>Item 5</p>
			</div>

		</div>

	</div>

	<% include partials/footer.ejs %>

</BODY>

<HTML>