<!DOCTYPE HTML>

<HTML>

<HEAD>
	<% include partials/head.ejs %>
	<% include partials/scripts.ejs %>
</HEAD>

<BODY>

	<h1>jQuery Examples</h1>

	<p>Basic examples of jQuery</p>

	<div class="link">
		<a href="/">Return to Other Examples</a>
	</div>

	<h2>Keydown Example</h2>
	<p>Use the keyboard arrow keys to move Mario around the board</p>
	<p>Also implements .html(), .val() as well as boundaries on the movement</p>

	<div id="mario-box">
		<img src="/images/mario.png" id="mario">

		<table id="mario-table">
			<tr>
				<td>Vertical</td>
				<td class="table-data"><span id="mario-height">265</span>px</td>
				<td>Horizontal</td>
				<td class="table-data"><span id="mario-width">10</span>px</td>
			</tr>
		</table>

		<p class="error-msg" id="mario-error"></p>

	</div>


	<% include partials/footer.ejs %>

</BODY>

<HTML>