* {
	font-family: Muli;
}

body {
	display		: block;
	padding		: 20px;
}

h1 {
	font-family	: Jura;
	color 		: RoyalBlue;
	font-size: 2em;
}

h2 {
	font-family	: Jura;
	color 		: White;
	font-size: 1.5em;
	background-color: Grey;
	padding: 5px;
}

h3 {
	font-family	: Jura;
	color 		: RoyalBlue;
	font-size: 1em;
}

p {
	color 		: LightSlateGray;
}

input {
	font-family	: Jura;
}

input:hover {
	background-color	: WhiteSmoke;
}

.examples {
	margin-top: 20px;	
	margin-bottom: 10px;
	padding: 10px 0px 20px 0px;
	border-bottom: 1px gray dashed;
}

.list-item {
	padding: 0px 5px 0px 5px;
}

.link {
	font-family	: Jura;
	background-color: WhiteSmoke;
	width: 150px;
	border: 1px solid Gray;
	text-align: center;
	border-radius: 2px;
}

.link:hover {
	background-color	: LightGray;
}

a:hover {
	text-decoration		: none;
}

td {
	margin 		: 10px;
	padding		: 5px;
}

.button-cell {
	text-align	: center;
	margin		: auto; 
}

.button-clicked {
	background-color: LightSlateGray;
	opacity: 1;
	border: dashed;
}

.table-data {
	color 		: LightSlateGray;
	margin 		: 10px;
	padding		: 5px;
}

.error-msg {
	color 		: red;
}

.box {
	height: 100px;
	width: 100px;
	border-radius: 5px;
	display: inline-block;
	opacity: 0.5;
}

#blue {
	background-color: DarkBlue;
}

#light-blue {
	background-color: CornflowerBlue;
}

#gray {
	background-color: Grey;
}

#light-gray {
	background-color: LightGrey;
}

#mario-box {
	background-image: url("/images/mario-bg.jpg");
	height: 464px;
	width: 534px; 
}

#mario {
	height: 50px;
	clear: both;
	position: relative;
	left: 10px;
	top: 265px;
	z-index: 1;
}

#mario-table {
	position: relative;
	width: 275px;
	left: 160px;
	top: 75px;
	background-color: LightGrey;
}

#mario-error {
	position: relative;
	width: 275px;
	text-align: center;
	left: 160px;
	top: 10px;
	font-weight: bold;
}

#accordion-menu {
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
	border: gray 1px solid;
	background-color: LightGray;
}

/* -----------------------------
Footer Styles 
-------------------------------- */

footer {
	margin-top: 50px;
}

footer::before {
	content: "";
	display: block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #dedede;
	margin-left: auto;
	margin-right: auto;
}

footer p {
	float: left;
	color: #999;
	letter-spacing: 0.3px;
	font-size: 12px;
	padding-bottom: 20px;
}

footer .social-media-icons {
	float: right;
}

footer .social-media-icons i {
	font-size: 24px;
	color: #999;
	transition: 0.5s ease-in-out;
}

footer .social-media-icons a:first-child {
	margin-right: 20px;
}

footer .social-media-icons a:last-child:hover i {
	color: #af0b0c;
}

footer .social-media-icons a:first-child:hover i {
	color: #333;
}